#navigation nav {
  font-family: Avenir;
  display: flex; }
  #navigation nav ul:nth-of-type(1) {
    width: 30%;
    border: solid 1px red; }
  #navigation nav ul:nth-of-type(2) {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    width: 70%; }
    #navigation nav ul:nth-of-type(2) li {
      text-align: right;
      margin-right: 62px; }
      #navigation nav ul:nth-of-type(2) li a {
        font-size: 20px;
        text-transform: uppercase; }
      #navigation nav ul:nth-of-type(2) li:nth-of-type(2) a {
        width: 100%; }
        #navigation nav ul:nth-of-type(2) li:nth-of-type(2) a button {
          border: none;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          width: 227px;
          height: 56px;
          border-radius: 10px;
          background-image: linear-gradient(#7474F6, #6A9DF6); }
          #navigation nav ul:nth-of-type(2) li:nth-of-type(2) a button:active {
            border: none;
            outline: none;
            box-shadow: none; }
          #navigation nav ul:nth-of-type(2) li:nth-of-type(2) a button:focus {
            box-shadow: none; }
          #navigation nav ul:nth-of-type(2) li:nth-of-type(2) a button span {
            margin: -5px 0 0 10px; }

#faq .question {
  background-color: grey;
  color: black;
  position: relative;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px; }
  #faq .question h4 {
    margin: 0;
    padding: 5px; }
  #faq .question .answer {
    background-color: #fff;
    display: none;
    border-radius: 10px; }
    #faq .question .answer p {
      margin: 0;
      padding: 25px;
      text-align: justify; }
  #faq .question .arrow {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: all .4s; }
    #faq .question .arrow:active {
      transition: all .4s;
      transform: rotate(180deg); }

@font-face {
  font-family: Avenir;
  src: url(../fonts/avenir-roman-opentype_bigfontsite.com.otf); }
@font-face {
  font-family: Canela;
  src: url(../fonts/Canela.woff); }
ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul li {
    margin: 0;
    padding: 0; }

/*# sourceMappingURL=style.css.map */
