@import 'partials/_navigation.scss';
@import 'partials/_header.scss';
@import 'partials/_section1ImgCoins.scss';
@import 'partials/_section2MakeItForYou.scss';
@import 'partials/_section3World_of_crypto.scss';
@import 'partials/_section4World_of_Defi.scss';
@import 'partials/_section5World_of_nft.scss';
@import 'partials/_section6Connect_with_people.scss';
@import 'partials/_section7App.scss';
@import 'partials/_section8Faq.scss';
@import 'partials/_section9Download_app.scss';
@import 'partials/_footer.scss';

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}
/***CONTAINER MEDIA QUERY****/
.container {
  @media all and (min-width:1440px) {
    min-width: 1230px;
  }
}

.row {
  @media all and (min-width:370px) {
    margin-left: 0;
    margin-right: 0;
  }
  @media all and (min-width:992px) {
    margin-left: -15px;
    margin-right: -15px;
  }
}
/******GLOBAL******/

body {
  // background-image:url('../images/mainBackground.svg');
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#edfafc+0,f6f6fc+51,f6f8fd+100 */
  background: #edfafc; /* Old browsers */
  background: -moz-linear-gradient(top, #edfafc 0%, #f6f6fc 51%, #f6f8fd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #edfafc 0%,#f6f6fc 51%,#f6f8fd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #edfafc 0%,#f6f6fc 51%,#f6f8fd 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

button {
    font-weight: 700;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 227px;
  height: 56px;
  border-radius: 10px;
  background: linear-gradient(86.97deg, #7474F6 0.85%, #6A9DF6 97.27%);
  font-size: 20px;

  &:active {
    border: none;
    outline: none;
    box-shadow: none;
  }

  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }

  span {
    transition: all 0.3s;
    margin: -5px 0 0 10px;
  }

  &:hover {
    span {
      transition: all 0.3s;
      margin: -5px 0 0 15px;
    }
  }
}

h1,
h2 {
  font-family: Canela;
}

h2 {
  font-family: Canela Regular;
  color: black;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  @media all and (min-width:768px){
    font-size: 34px;
    line-height: 50px;
  }
  @media all and (min-width:1200px) {
    line-height: 72px;
    font-size: 52px;
  }

  span {
    color: #4A83E3;
    font-family: Canela;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
  }
}

.text-content {
  font-family: Avenir;
  font-size: 14px;
  line-height: 24px;
  background: white;
  box-shadow: 0 5px 20px 5px rgba(221, 236, 88, 0.2);
  border-radius: 20px;
  @media all and (min-width:768px){
    font-size:16px;
    line-height:31px;
  }
  @media all and (min-width:992px){
    font-size: 20px;
    line-height: 40px;
  }
}

.live {
  color: #60F01C;

  span {
    margin-right: 6px;
  }
}
@font-face {
  font-family: Avenir;
  src: url("../fonts/avenir-roman-opentype_bigfontsite.com.otf");
}
// @font-face {
//   font-family: Canela;
//   src: url("../fonts/Canela.woff");
// }
@font-face {
  font-family: "Canela";
  src: url("//db.onlinewebfonts.com/t/e0ad94902a160013fafd2403e5e638cb.eot");
  src: url("//db.onlinewebfonts.com/t/e0ad94902a160013fafd2403e5e638cb.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e0ad94902a160013fafd2403e5e638cb.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e0ad94902a160013fafd2403e5e638cb.woff") format("woff"), url("//db.onlinewebfonts.com/t/e0ad94902a160013fafd2403e5e638cb.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e0ad94902a160013fafd2403e5e638cb.svg#Canela") format("svg");
}
@font-face {
  font-family: "Canela Regular";
  src: url("//db.onlinewebfonts.com/t/4a24899e94d8236f671c1090cd9e068c.eot");
  src: url("//db.onlinewebfonts.com/t/4a24899e94d8236f671c1090cd9e068c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/4a24899e94d8236f671c1090cd9e068c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4a24899e94d8236f671c1090cd9e068c.woff") format("woff"), url("//db.onlinewebfonts.com/t/4a24899e94d8236f671c1090cd9e068c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/4a24899e94d8236f671c1090cd9e068c.svg#Canela") format("svg");
}
/**PRELOADER***/

#preloader {
  background: #edf9fc;
  z-index: 99;
  width: 100%;
  position: fixed;
  top: 0;
  height: 100vh;

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 2rem;
    transform: translate(-50%, -50%);
    height: 5px;
    width: 15rem;
    background-color: lightgrey;

    .loading {
      position: absolute;
      top: 0;
      background-color: black;
      width: 5rem;
      height: 5px;
      animation: animation 1.8s infinite;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -190%);
    }
  }
  @keyframes animation {
    0% {
      transform: translateX(0rem);
    }

    50% {
      transform: translateX(10rem);
    }

    100% {
      transform: translateX(0rem);
    }
  }
}
