#navigation nav {
  padding-top: 58px;
  font-family: Avenir;
  display: flex;
  padding-bottom: 97px;
  display: none; }
  @media all and (min-width: 992px) {
    #navigation nav {
      display: flex;
      align-items: center; } }
  #navigation nav ul:nth-of-type(1) {
    width: 30%; }
  #navigation nav ul:nth-of-type(2) {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    width: 100%; }
    #navigation nav ul:nth-of-type(2) li {
      text-align: right; }
      #navigation nav ul:nth-of-type(2) li a {
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
        color: black; }
      #navigation nav ul:nth-of-type(2) li:nth-of-type(2) {
        margin-left: 62px; }
        #navigation nav ul:nth-of-type(2) li:nth-of-type(2) a {
          width: 100%; }

/******MOBILE NAVIGATION********/
#mobileNavigation {
  font-family: Avenir;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 131px;
  /* -- OPEN -- */ }
  @media all and (min-width: 992px) {
    #mobileNavigation {
      display: none; } }
  #mobileNavigation .u-nav {
    height: 148px; }
    #mobileNavigation .u-nav img {
      position: absolute;
      left: 33px;
      top: 56px;
      width: 27.5px;
      height: 30px; }
  #mobileNavigation .mobileLogo {
    width: 100%;
    text-align: center; }
    #mobileNavigation .mobileLogo a img {
      width: 71.76px;
      height: 15.65px; }
  #mobileNavigation .u-nav-container {
    display: block;
    background-color: white;
    position: absolute;
    height: 100%;
    width: 400px;
    top: 0;
    left: -1000px;
    z-index: 1;
    transition: left 0.3s ease-in;
    border-radius: 0 20px 20px 0;
    height: 100vh;
    transition: left 0.3s ease-out;
    width: 90%; }
    #mobileNavigation .u-nav-container .closeMobileMenu {
      position: relative;
      height: 76px; }
      #mobileNavigation .u-nav-container .closeMobileMenu img {
        position: absolute;
        z-index: 99;
        right: 35px;
        top: 31px;
        width: 19px;
        height: 19px; }
    #mobileNavigation .u-nav-container .mobileLogoOpenNav {
      position: relative;
      width: 100%;
      height: 65px; }
      #mobileNavigation .u-nav-container .mobileLogoOpenNav a {
        margin-left: 55px;
        width: 100%; }
      #mobileNavigation .u-nav-container .mobileLogoOpenNav:after {
        position: absolute;
        width: 80%;
        height: 0.5px;
        background: #B1B1B1;
        content: "";
        top: 65px;
        left: 32px; }
    #mobileNavigation .u-nav-container ul {
      margin-top: 53.7px; }
      #mobileNavigation .u-nav-container ul li {
        padding-bottom: 33px; }
        #mobileNavigation .u-nav-container ul li a {
          display: flex;
          align-items: center;
          font-size: 14px; }
          #mobileNavigation .u-nav-container ul li a .iconNav {
            margin-left: 55px;
            margin-right: 18px;
            width: 24px;
            height: 24px; }
      #mobileNavigation .u-nav-container ul:nth-of-type(2) {
        border-top: solid .5px #B1B1B1;
        left: 50%;
        transform: translate(-50%);
        padding-top: 25.75px;
        width: 80%;
        position: absolute;
        bottom: 0; }
        #mobileNavigation .u-nav-container ul:nth-of-type(2) li a {
          display: flex;
          align-items: center;
          justify-content: center; }
          #mobileNavigation .u-nav-container ul:nth-of-type(2) li a button {
            width: 100%;
            font-family: Avenir;
            font-weight: 900;
            font-size: 16px; }
            #mobileNavigation .u-nav-container ul:nth-of-type(2) li a button span img {
              width: 7.5px; }
    #mobileNavigation .u-nav-container li.header_btn_text_link_Mob {
      margin-top: -13px; }
      #mobileNavigation .u-nav-container li.header_btn_text_link_Mob .link_Mob {
        display: inline; }
  #mobileNavigation .u-nav-container.is-open {
    position: fixed;
    border-radius: 0 20px 20px 0;
    height: 100%;
    left: 0;
    transition: left 0.3s ease-out;
    width: 90%; }

header {
  margin-top: -20px; }
  @media all and (min-width: 992px) {
    header {
      margin-top: 80px; } }
  header .coll:nth-of-type(1) .header_head h1 {
    color: black;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 34px;
    text-align: left;
    margin-top: 30px; }
    @media all and (min-width: 768px) {
      header .coll:nth-of-type(1) .header_head h1 {
        font-size: 47px;
        line-height: 63px; } }
    @media all and (min-width: 992px) {
      header .coll:nth-of-type(1) .header_head h1 {
        line-height: 79px;
        font-size: 55px;
        margin-top: 0;
        text-align: left; } }
    @media all and (min-width: 1200px) {
      header .coll:nth-of-type(1) .header_head h1 {
        line-height: 90px;
        font-size: 62px; } }
  header .coll:nth-of-type(1) .header_textContent {
    font-family: Avenir;
    font-size: 14px;
    line-height: 18px;
    padding-right: 10px; }
    @media all and (min-width: 768px) {
      header .coll:nth-of-type(1) .header_textContent {
        text-align: left;
        font-size: 15px;
        line-height: 25px; } }
    @media all and (min-width: 992px) {
      header .coll:nth-of-type(1) .header_textContent {
        padding-right: 0;
        text-align: left;
        font-size: 20px;
        line-height: 32px; } }
    @media all and (min-width: 1200px) {
      header .coll:nth-of-type(1) .header_textContent {
        font-size: 24px;
        line-height: 36px; } }
  header .coll:nth-of-type(1) .header_button {
    margin-top: 26px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column; }
    @media all and (min-width: 992px) {
      header .coll:nth-of-type(1) .header_button {
        margin-top: 80px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: block; } }
    header .coll:nth-of-type(1) .header_button button {
      width: 125px;
      height: 38px;
      font-size: 10px;
      font-weight: 900;
      border-radius: 5px; }
      @media all and (min-width: 768px) {
        header .coll:nth-of-type(1) .header_button button {
          width: 156px;
          height: 38px;
          font-size: 14px; } }
      @media all and (min-width: 992px) {
        header .coll:nth-of-type(1) .header_button button {
          font-weight: 700;
          border-radius: 10px;
          font-size: 20px;
          width: 227px;
          height: 56px; } }
      header .coll:nth-of-type(1) .header_button button span img {
        width: 5px;
        margin-top: 3px;
        margin-left: -3px; }
        @media all and (min-width: 992px) {
          header .coll:nth-of-type(1) .header_button button span img {
            width: auto;
            margin-top: auto;
            margin-left: auto; } }
  header .coll:nth-of-type(1) .header_btn_text_link {
    font-size: 14px;
    font-family: Avenir;
    margin-top: 10px;
    color: #919191; }
    @media all and (min-width: 768px) {
      header .coll:nth-of-type(1) .header_btn_text_link {
        font-size: 14px;
        margin-top: 12px; } }
    @media all and (min-width: 992px) {
      header .coll:nth-of-type(1) .header_btn_text_link {
        margin-top: 16px;
        font-size: 16px;
        width: auto; } }
  header .coll:nth-of-type(2) .img {
    text-align: left; }
    @media all and (min-width: 768px) {
      header .coll:nth-of-type(2) .img {
        text-align: center; } }
    header .coll:nth-of-type(2) .img img {
      transform: scale(1.99);
      margin-top: 170px; }
      @media all and (min-width: 540px) {
        header .coll:nth-of-type(2) .img img {
          transform: scale(2); } }
      @media all and (min-width: 768px) {
        header .coll:nth-of-type(2) .img img {
          transform: scale(1.5);
          margin-right: 0; } }
      @media all and (min-width: 992px) {
        header .coll:nth-of-type(2) .img img {
          transform: scale(1);
          margin-top: 0px;
          margin-right: -54px; } }
      @media all and (min-width: 1200px) {
        header .coll:nth-of-type(2) .img img {
          margin-top: -80px;
          margin-right: -100px; } }
      @media all and (min-width: 1200px) {
        header .coll:nth-of-type(2) .img img {
          margin-top: -80px;
          margin-right: -160px; } }

#img-coins .img {
  text-align: center;
  margin-left: -27px;
  margin-top: -148px; }
  @media all and (min-width: 540px) {
    #img-coins .img {
      margin-top: -121px; } }
  @media all and (min-width: 768px) {
    #img-coins .img {
      text-align: center;
      margin-left: 99px;
      margin-top: -144px; } }
  @media all and (min-width: 992px) {
    #img-coins .img {
      margin-top: -100px;
      margin-left: -151px; } }
  @media all and (min-width: 1200px) {
    #img-coins .img {
      margin-left: -59px; } }
  @media all and (min-width: 1380px) {
    #img-coins .img {
      margin-left: -90px;
      margin-top: -93px; } }
  #img-coins .img img {
    transform: scale(0.45); }
    @media all and (min-width: 992px) {
      #img-coins .img img {
        transform: scale(0.8); } }
    @media all and (min-width: 1200px) {
      #img-coins .img img {
        transform: scale(1); } }

#make_it_for_you {
  margin-top: -365px; }
  #make_it_for_you .row {
    align-items: center; }
    #make_it_for_you .row .img {
      text-align: left;
      margin-top: 145px;
      margin-left: -11px; }
      @media all and (min-width: 540px) {
        #make_it_for_you .row .img {
          margin-top: 55px; } }
      @media all and (min-width: 768px) {
        #make_it_for_you .row .img {
          text-align: center;
          margin-top: 67px;
          margin-left: -166px; } }
      @media all and (min-width: 992px) {
        #make_it_for_you .row .img {
          text-align: left;
          margin-top: 32px;
          margin-left: -26px; } }
      @media all and (min-width: 1200px) {
        #make_it_for_you .row .img {
          margin-top: -232px;
          margin-left: auto; } }
      #make_it_for_you .row .img img {
        width: 140px; }
        @media all and (min-width: 540px) {
          #make_it_for_you .row .img img {
            width: 204px; } }
        @media all and (min-width: 768px) {
          #make_it_for_you .row .img img {
            width: 209px; } }
        @media all and (min-width: 992px) {
          #make_it_for_you .row .img img {
            width: 376px; } }
        @media all and (min-width: 1200px) {
          #make_it_for_you .row .img img {
            width: auto; } }
    #make_it_for_you .row article .header {
      padding-right: 35px;
      padding-top: 18px; }
      @media all and (min-width: 768px) {
        #make_it_for_you .row article .header {
          padding-right: 143px; } }
      @media all and (min-width: 992px) {
        #make_it_for_you .row article .header {
          padding-top: 0;
          padding-right: 30px; } }
      @media all and (min-width: 1200px) {
        #make_it_for_you .row article .header {
          padding-top: 264px;
          padding-right: 30px; } }
    #make_it_for_you .row article h2 {
      padding-right: 0; }
      @media all and (min-width: 992px) {
        #make_it_for_you .row article h2 {
          padding-right: 0;
          padding-top: 21px; } }
      @media all and (min-width: 1200px) {
        #make_it_for_you .row article h2 {
          padding-right: 0;
          padding-top: 264px; } }
    #make_it_for_you .row article .text-content {
      padding: 20px 0 11px 30px;
      margin-top: 19px; }
      @media all and (min-width: 992px) {
        #make_it_for_you .row article .text-content {
          margin-top: 30px; } }
      #make_it_for_you .row article .text-content ul li:before {
        content: "\2022";
        color: black;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em; }
      #make_it_for_you .row article .text-content .live {
        margin-left: 2px;
        padding-top: 25px; }
        @media all and (min-width: 992px) {
          #make_it_for_you .row article .text-content .live {
            padding-top: 30px; } }

#world_of_crypto {
  padding: 40px 0 0px; }
  @media all and (min-width: 992px) {
    #world_of_crypto {
      padding: 385px 0 90px; } }
  #world_of_crypto .row {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse; }
    @media all and (min-width: 992px) {
      #world_of_crypto .row {
        flex-direction: row; } }
    #world_of_crypto .row .coll:nth-of-type(1) article {
      width: 100%; }
      @media all and (min-width: 992px) {
        #world_of_crypto .row .coll:nth-of-type(1) article {
          width: 84%; } }
      #world_of_crypto .row .coll:nth-of-type(1) article .header {
        padding-bottom: 10px; }
        @media all and (min-width: 992px) {
          #world_of_crypto .row .coll:nth-of-type(1) article .header {
            padding-bottom: 14px; } }
      #world_of_crypto .row .coll:nth-of-type(1) article .text-content {
        padding: 16px 29px 0 21px; }
        @media all and (min-width: 992px) {
          #world_of_crypto .row .coll:nth-of-type(1) article .text-content {
            padding: 16px 19px 0 21px; } }
        #world_of_crypto .row .coll:nth-of-type(1) article .text-content .live {
          padding-top: 7px;
          padding-bottom: 13px; }
          @media all and (min-width: 992px) {
            #world_of_crypto .row .coll:nth-of-type(1) article .text-content .live {
              padding-top: 30px; } }
    #world_of_crypto .row .coll:nth-of-type(2) .img {
      text-align: left; }
      #world_of_crypto .row .coll:nth-of-type(2) .img img {
        width: 115px;
        margin-left: -10px;
        margin-bottom: 14px; }
        @media all and (min-width: 768px) {
          #world_of_crypto .row .coll:nth-of-type(2) .img img {
            width: 165px; } }
        @media all and (min-width: 992px) {
          #world_of_crypto .row .coll:nth-of-type(2) .img img {
            margin-bottom: 0;
            margin-top: 30px;
            margin-left: 0;
            width: auto;
            transform: scale(1.03);
            margin-top: -20px; } }

#world_of_defi {
  padding-top: 32px; }
  @media all and (min-width: 992px) {
    #world_of_defi {
      padding-top: 330px; } }
  #world_of_defi .row {
    justify-content: center;
    align-items: center; }
    @media all and (min-width: 992px) {
      #world_of_defi .row {
        flex-direction: row; } }
    #world_of_defi .row .coll:nth-of-type(1) .img {
      text-align: left; }
      #world_of_defi .row .coll:nth-of-type(1) .img img {
        width: 118px;
        margin-bottom: 175px; }
        @media all and (min-width: 768px) {
          #world_of_defi .row .coll:nth-of-type(1) .img img {
            width: 168px; } }
        @media all and (min-width: 992px) {
          #world_of_defi .row .coll:nth-of-type(1) .img img {
            margin-bottom: 0;
            text-align: center;
            width: auto;
            transform: scale(1.3); } }
        @media all and (min-width: 1200px) {
          #world_of_defi .row .coll:nth-of-type(1) .img img {
            transform: scale(1); } }
    #world_of_defi .row .coll:nth-of-type(2) {
      margin-top: -165px; }
      #world_of_defi .row .coll:nth-of-type(2) article .text-content {
        margin-top: 19px;
        padding: 19.5px 12px 0 17px; }
        @media all and (min-width: 992px) {
          #world_of_defi .row .coll:nth-of-type(2) article .text-content {
            margin-top: 30px;
            padding: 19.5px 30px 0 27px; } }
        #world_of_defi .row .coll:nth-of-type(2) article .text-content p {
          padding-right: 10px; }
        #world_of_defi .row .coll:nth-of-type(2) article .text-content ul {
          padding-left: 1em; }
          #world_of_defi .row .coll:nth-of-type(2) article .text-content ul li:before {
            content: "\2022";
            color: black;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em; }
        #world_of_defi .row .coll:nth-of-type(2) article .text-content .live {
          margin-left: 12px;
          padding-top: 16px;
          padding-bottom: 12px; }
          @media all and (min-width: 992px) {
            #world_of_defi .row .coll:nth-of-type(2) article .text-content .live {
              margin-left: 19px;
              padding-top: 30px;
              transform: scale(1); } }

#world_of_nft {
  padding-top: 31px; }
  @media all and (min-width: 992px) {
    #world_of_nft {
      padding-top: 350px; } }
  #world_of_nft .row {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse; }
    @media all and (min-width: 992px) {
      #world_of_nft .row {
        flex-direction: row; } }
    #world_of_nft .row .coll:nth-of-type(1) {
      margin-top: -70px; }
      #world_of_nft .row .coll:nth-of-type(1) article .text-content {
        width: 100%;
        margin-top: 19px;
        padding: 16px 25px 0; }
        @media all and (min-width: 992px) {
          #world_of_nft .row .coll:nth-of-type(1) article .text-content {
            margin-top: 30px;
            padding: 16px 20px 0;
            width: 85%; } }
        #world_of_nft .row .coll:nth-of-type(1) article .text-content .live {
          margin-left: 0;
          padding-top: 0;
          padding-bottom: 12px; }
          @media all and (min-width: 992px) {
            #world_of_nft .row .coll:nth-of-type(1) article .text-content .live {
              padding-top: 30px; } }
    #world_of_nft .row .coll:nth-of-type(2) .img {
      text-align: left; }
      @media all and (min-width: 992px) {
        #world_of_nft .row .coll:nth-of-type(2) .img {
          text-align: center; } }
      #world_of_nft .row .coll:nth-of-type(2) .img img {
        width: 137px;
        height: 167px;
        margin-bottom: 74px; }
        @media all and (min-width: 768px) {
          #world_of_nft .row .coll:nth-of-type(2) .img img {
            width: 187px;
            height: 211px; } }
        @media all and (min-width: 992px) {
          #world_of_nft .row .coll:nth-of-type(2) .img img {
            width: auto;
            height: auto;
            margin-bottom: 0; } }

#connect_with_people {
  padding-top: 45px; }
  @media all and (min-width: 992px) {
    #connect_with_people {
      padding-top: 400px; } }
  #connect_with_people .row {
    justify-content: center;
    align-items: center; }
    #connect_with_people .row .coll:nth-of-type(1) .img {
      text-align: left; }
      @media all and (min-width: 992px) {
        #connect_with_people .row .coll:nth-of-type(1) .img {
          text-align: center; } }
      #connect_with_people .row .coll:nth-of-type(1) .img img {
        width: 146px;
        height: 150px;
        margin-bottom: 143px;
        margin-left: -8px; }
        @media all and (min-width: 768px) {
          #connect_with_people .row .coll:nth-of-type(1) .img img {
            width: 196px;
            height: 200px; } }
        @media all and (min-width: 992px) {
          #connect_with_people .row .coll:nth-of-type(1) .img img {
            margin-bottom: 0;
            margin-left: 0;
            width: auto;
            height: auto; } }
    #connect_with_people .row .coll:nth-of-type(2) {
      margin-top: -120px;
      margin-bottom: 50px; }
      @media all and (min-width: 992px) {
        #connect_with_people .row .coll:nth-of-type(2) {
          margin-bottom: 0; } }
      #connect_with_people .row .coll:nth-of-type(2) article .header {
        padding-right: 0; }
        @media all and (min-width: 768px) {
          #connect_with_people .row .coll:nth-of-type(2) article .header {
            padding-right: 218px; } }
        @media all and (min-width: 992px) {
          #connect_with_people .row .coll:nth-of-type(2) article .header {
            padding-right: 0; } }
      #connect_with_people .row .coll:nth-of-type(2) article .text-content {
        width: 100%;
        margin-top: 19px;
        padding: 16px 34px 0 24px; }
        @media all and (min-width: 992px) {
          #connect_with_people .row .coll:nth-of-type(2) article .text-content {
            margin-top: 30px;
            padding: 16px 29px 0 35px;
            width: 98%; } }
        #connect_with_people .row .coll:nth-of-type(2) article .text-content ul {
          padding-left: 1em; }
          #connect_with_people .row .coll:nth-of-type(2) article .text-content ul li:before {
            content: "\2022";
            color: black;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1.2em; }
          #connect_with_people .row .coll:nth-of-type(2) article .text-content ul li:nth-of-type(2) {
            padding-right: 30px; }
            @media all and (min-width: 992px) {
              #connect_with_people .row .coll:nth-of-type(2) article .text-content ul li:nth-of-type(2) {
                padding-right: 0; } }
          #connect_with_people .row .coll:nth-of-type(2) article .text-content ul li:nth-of-type(4) {
            padding-right: 84px; }
            @media all and (min-width: 992px) {
              #connect_with_people .row .coll:nth-of-type(2) article .text-content ul li:nth-of-type(4) {
                padding-right: 0; } }
        #connect_with_people .row .coll:nth-of-type(2) article .text-content .live {
          margin-left: 12px;
          padding-top: 16px;
          padding-bottom: 17px; }
          @media all and (min-width: 992px) {
            #connect_with_people .row .coll:nth-of-type(2) article .text-content .live {
              margin-left: 19px;
              padding-top: 30px; } }

#app {
  padding-top: 0px;
  margin-top: -13px; }
  @media all and (min-width: 768px) {
    #app {
      margin-top: -4px; } }
  @media all and (min-width: 992px) {
    #app {
      margin-top: 0px;
      padding-top: 330px; } }
  #app .row {
    justify-content: center;
    align-items: flex-end;
    flex-direction: column-reverse; }
    @media all and (min-width: 992px) {
      #app .row {
        flex-direction: row; } }
    #app .row .coll:nth-of-type(1) article {
      position: relative;
      top: -36px; }
      @media all and (min-width: 992px) {
        #app .row .coll:nth-of-type(1) article {
          top: -108px; } }
      #app .row .coll:nth-of-type(1) article .header h3 {
        text-transform: uppercase;
        font-family: Avenir;
        font-weight: 800;
        color: #4A83E3;
        padding-bottom: 3px;
        font-size: 18px; }
        @media all and (min-width: 768px) {
          #app .row .coll:nth-of-type(1) article .header h3 {
            font-size: 27px; } }
        @media all and (min-width: 992px) {
          #app .row .coll:nth-of-type(1) article .header h3 {
            font-size: 1.75rem;
            padding-bottom: 26px; } }
      #app .row .coll:nth-of-type(1) article .text-content {
        width: 100%;
        margin-top: 19px;
        padding: 19.5px 25px 23px 18px; }
        @media all and (min-width: 992px) {
          #app .row .coll:nth-of-type(1) article .text-content {
            width: 90%;
            padding: 19.5px 30px 23px 27px; } }
        #app .row .coll:nth-of-type(1) article .text-content p {
          padding-right: 10px; }
        #app .row .coll:nth-of-type(1) article .text-content ul {
          padding-left: 1em; }
          #app .row .coll:nth-of-type(1) article .text-content ul li:before {
            content: "\2022";
            color: black;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em; }
        #app .row .coll:nth-of-type(1) article .text-content .live {
          margin-left: 19px;
          padding-top: 30px;
          padding-bottom: 12px; }
    #app .row .coll:nth-of-type(2) .img {
      text-align: left; }
      @media all and (min-width: 992px) {
        #app .row .coll:nth-of-type(2) .img {
          text-align: center; } }
      #app .row .coll:nth-of-type(2) .img img {
        width: 103px;
        height: 159px;
        margin-bottom: 64px;
        margin-left: -7px; }
        @media all and (min-width: 768px) {
          #app .row .coll:nth-of-type(2) .img img {
            width: 153px;
            height: 233px; } }
        @media all and (min-width: 992px) {
          #app .row .coll:nth-of-type(2) .img img {
            margin-left: 0;
            width: auto;
            height: auto;
            margin-bottom: 0; } }

#faq {
  font-family: Avenir;
  padding-top: 29px; }
  @media all and (min-width: 992px) {
    #faq {
      padding-top: 250px; } }
  #faq .header {
    width: 100%;
    text-align: center; }
  #faq .question {
    cursor: pointer;
    font-size: 14px;
    color: black;
    position: relative;
    margin-top: 20px;
    border-bottom: 0.7px solid #B1B1B1; }
    @media all and (min-width: 768px) {
      #faq .question {
        font-size: 16px; } }
    @media all and (min-width: 992px) {
      #faq .question {
        margin-top: 32px;
        font-size: 24px; } }
    #faq .question h4 {
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      padding: 0 0 10px; }
      @media all and (min-width: 768px) {
        #faq .question h4 {
          font-size: 16px; } }
      @media all and (min-width: 992px) {
        #faq .question h4 {
          font-size: 1.5rem; } }
    #faq .question .shortText {
      color: #B1B1B1;
      margin-bottom: 22px; }
      @media all and (min-width: 992px) {
        #faq .question .shortText {
          margin-bottom: 29px; } }
    #faq .question .answer {
      background-color: transparent;
      display: none;
      border-radius: 10px; }
      #faq .question .answer p {
        color: #B1B1B1;
        margin: 0;
        text-align: justify;
        padding-right: 39px; }
        @media all and (min-width: 1200px) {
          #faq .question .answer p {
            padding-right: 100px; } }
        @media all and (min-width: 1400px) {
          #faq .question .answer p {
            padding-right: 200px; } }
        #faq .question .answer p:nth-of-type(2) {
          padding-bottom: 8px; }
          @media all and (min-width: 992px) {
            #faq .question .answer p:nth-of-type(2) {
              padding-bottom: 34px; } }
      #faq .question .answer h4 {
        padding-top: 36px;
        padding-bottom: 10px; }
        @media all and (min-width: 992px) {
          #faq .question .answer h4 {
            padding-top: 50px; } }
    #faq .question .arrow {
      width: 27px;
      height: 27px;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: -2px;
      right: -16px;
      transition: all 0.4s; }
      @media all and (min-width: 768px) {
        #faq .question .arrow {
          right: 10px;
          top: 8px; } }
      @media all and (min-width: 1200px) {
        #faq .question .arrow {
          top: 25px; } }
      #faq .question .arrow img {
        transition: all 0.4s;
        width: 14px;
        height: 14px; }
        @media all and (min-width: 768px) {
          #faq .question .arrow img {
            width: 17px;
            height: 17px; } }
        @media all and (min-width: 992px) {
          #faq .question .arrow img {
            width: auto;
            height: auto;
            top: 25px; } }
    #faq .question .arrow-active {
      transition: all 0.4s;
      transform: rotate(180deg); }
    #faq .question .shortTextNone {
      display: none; }

#download_app {
  font-family: Avenir;
  padding-top: 70px; }
  @media all and (min-width: 992px) {
    #download_app {
      padding-top: 200px; } }
  #download_app .header_download {
    text-align: center; }
    #download_app .header_download h2 {
      margin: 0;
      padding: 0; }
    #download_app .header_download p {
      font-size: 24px;
      color: #414040;
      padding: 15px 0 45px;
      display: none; }
      @media all and (min-width: 992px) {
        #download_app .header_download p {
          padding: 37px 0 45px;
          display: block; } }
      #download_app .header_download p:nth-of-type(2) {
        display: block;
        font-size: 14px;
        margin-top: 0; }
        @media all and (min-width: 768px) {
          #download_app .header_download p:nth-of-type(2) {
            font-size: 15px;
            margin-top: -4px; } }
        @media all and (min-width: 992px) {
          #download_app .header_download p:nth-of-type(2) {
            display: none; } }
  #download_app .qrCode .img {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #download_app .qrCode .img img:nth-of-type(1) {
      width: 130px;
      height: 130px;
      display: none; }
      @media all and (min-width: 992px) {
        #download_app .qrCode .img img:nth-of-type(1) {
          display: block;
          width: 200px;
          height: 200px; } }
    #download_app .qrCode .img img:nth-of-type(2) {
      margin-top: -51px;
      width: 241px;
      height: 125px; }
      @media all and (min-width: 992px) {
        #download_app .qrCode .img img:nth-of-type(2) {
          margin-top: 0;
          width: auto;
          height: auto;
          margin-top: -67px; } }
  #download_app .downloadTxt {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    display: none; }
    @media all and (min-width: 992px) {
      #download_app .downloadTxt {
        display: block;
        font-size: 24px; } }
    #download_app .downloadTxt a {
      color: #4A83E3; }

footer {
  padding-top: 103px;
  padding-bottom: 22px;
  font-size: 14px;
  font-family: Avenir;
  text-align: left; }
  @media all and (min-width: 768px) {
    footer {
      font-size: 15px; } }
  @media all and (min-width: 992px) {
    footer {
      text-align: center;
      font-size: 20px;
      padding-top: 180px;
      text-align: left;
      padding-bottom: 76px; } }
  footer .col-4 {
    padding-right: 0; }
    @media all and (min-width: 992px) {
      footer .col-4 {
        padding-right: 15px; } }
  footer img {
    margin-bottom: 20px;
    display: none; }
    @media all and (min-width: 992px) {
      footer img {
        display: block;
        margin-bottom: 0px; } }
  footer ul {
    margin-top: 34px; }
    @media all and (min-width: 992px) {
      footer ul {
        margin-top: -12px; } }
    footer ul li {
      margin: 12px 0; }
      @media all and (min-width: 992px) {
        footer ul li {
          margin: 9px 0; } }
      footer ul li:nth-child(1) {
        color: black; }
      footer ul li a {
        color: #6C6C6C; }
        footer ul li a:hover {
          color: #4A83E3; }
  footer .copyright {
    padding-top: 34px;
    text-align: center; }
    @media all and (min-width: 992px) {
      footer .copyright {
        padding-top: 80px; } }
    footer .copyright span {
      position: relative;
      top: 7px; }
      @media all and (min-width: 768px) {
        footer .copyright span {
          top: 8px; } }
      @media all and (min-width: 992px) {
        footer .copyright span {
          position: relative;
          top: -3.2px; } }
      footer .copyright span img {
        display: inline; }

html, body {
  overflow-x: hidden; }

body {
  position: relative; }

/***CONTAINER MEDIA QUERY****/
@media all and (min-width: 1440px) {
  .container {
    min-width: 1230px; } }

@media all and (min-width: 370px) {
  .row {
    margin-left: 0;
    margin-right: 0; } }
@media all and (min-width: 992px) {
  .row {
    margin-left: -15px;
    margin-right: -15px; } }

/******GLOBAL******/
body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#edfafc+0,f6f6fc+51,f6f8fd+100 */
  background: #edfafc;
  /* Old browsers */
  background: -moz-linear-gradient(top, #edfafc 0%, #f6f6fc 51%, #f6f8fd 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #edfafc 0%, #f6f6fc 51%, #f6f8fd 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #edfafc 0%, #f6f6fc 51%, #f6f8fd 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

button {
  font-weight: 700;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 227px;
  height: 56px;
  border-radius: 10px;
  background: linear-gradient(86.97deg, #7474F6 0.85%, #6A9DF6 97.27%);
  font-size: 20px; }
  button:active {
    border: none;
    outline: none;
    box-shadow: none; }
  button:focus {
    border: none;
    outline: none;
    box-shadow: none; }
  button span {
    transition: all 0.3s;
    margin: -5px 0 0 10px; }
  button:hover span {
    transition: all 0.3s;
    margin: -5px 0 0 15px; }

h1,
h2 {
  font-family: Canela; }

h2 {
  font-family: Canela Regular;
  color: black;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px; }
  @media all and (min-width: 768px) {
    h2 {
      font-size: 34px;
      line-height: 50px; } }
  @media all and (min-width: 1200px) {
    h2 {
      line-height: 72px;
      font-size: 52px; } }
  h2 span {
    color: #4A83E3;
    font-family: Canela; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul li {
    margin: 0;
    padding: 0; }

.text-content {
  font-family: Avenir;
  font-size: 14px;
  line-height: 24px;
  background: white;
  box-shadow: 0 5px 20px 5px rgba(221, 236, 88, 0.2);
  border-radius: 20px; }
  @media all and (min-width: 768px) {
    .text-content {
      font-size: 16px;
      line-height: 31px; } }
  @media all and (min-width: 992px) {
    .text-content {
      font-size: 20px;
      line-height: 40px; } }

.live {
  color: #60F01C; }
  .live span {
    margin-right: 6px; }

@font-face {
  font-family: Avenir;
  src: url("../fonts/avenir-roman-opentype_bigfontsite.com.otf"); }
@font-face {
  font-family: "Canela";
  src: url("//db.onlinewebfonts.com/t/e0ad94902a160013fafd2403e5e638cb.eot");
  src: url("//db.onlinewebfonts.com/t/e0ad94902a160013fafd2403e5e638cb.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e0ad94902a160013fafd2403e5e638cb.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e0ad94902a160013fafd2403e5e638cb.woff") format("woff"), url("//db.onlinewebfonts.com/t/e0ad94902a160013fafd2403e5e638cb.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e0ad94902a160013fafd2403e5e638cb.svg#Canela") format("svg"); }
@font-face {
  font-family: "Canela Regular";
  src: url("//db.onlinewebfonts.com/t/4a24899e94d8236f671c1090cd9e068c.eot");
  src: url("//db.onlinewebfonts.com/t/4a24899e94d8236f671c1090cd9e068c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/4a24899e94d8236f671c1090cd9e068c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4a24899e94d8236f671c1090cd9e068c.woff") format("woff"), url("//db.onlinewebfonts.com/t/4a24899e94d8236f671c1090cd9e068c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/4a24899e94d8236f671c1090cd9e068c.svg#Canela") format("svg"); }
/**PRELOADER***/
#preloader {
  background: #edf9fc;
  z-index: 99;
  width: 100%;
  position: fixed;
  top: 0;
  height: 100vh; }
  #preloader .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 2rem;
    transform: translate(-50%, -50%);
    height: 5px;
    width: 15rem;
    background-color: lightgrey; }
    #preloader .loader .loading {
      position: absolute;
      top: 0;
      background-color: black;
      width: 5rem;
      height: 5px;
      animation: animation 1.8s infinite; }
    #preloader .loader img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -190%); }
@keyframes animation {
  0% {
    transform: translateX(0rem); }
  50% {
    transform: translateX(10rem); }
  100% {
    transform: translateX(0rem); } }

/*# sourceMappingURL=style.css.map */
