footer{
  padding-top:103px;
  padding-bottom:22px;
font-size: 14px;
font-family: Avenir;
text-align: left;
@media all and (min-width:768px) {
  font-size: 15px;
}
@media all and (min-width:992px) {
  text-align: center;
  font-size: 20px;
  padding-top:180px;
  text-align: left;
    padding-bottom:76px;
}
.col-4{
  padding-right:0;

  @media all and (min-width:992px) {
  padding-right: 15px;
  }
}
img{
  margin-bottom:20px;
  display: none;
  @media all and (min-width:992px) {
    display: block;
  margin-bottom:0px;
  }
}
ul{
  margin-top:34px;
  @media all and (min-width:992px) {
    margin-top:-12px;
  }
  li{
    margin:12px 0;
    @media all and (min-width:992px) {
    margin:9px 0;
    }
    &:nth-child(1){
      color:black;
    }
    a{
    color:#6C6C6C;
    &:hover{
      color:#4A83E3;
    }
    }
  }
}
.copyright{
  padding-top:34px;
  text-align: center;
  @media all and (min-width:992px) {
padding-top:80px;
  }
span{

  position: relative;
  top:7px;
  @media all and (min-width:768px){
    top:8px;
  }
  @media all and (min-width:992px) {
    position: relative;
    top:-3.2px;
  }
  img{
    display: inline;
  }
}
}
}
