header {
  margin-top: -20px;
  @media all and (min-width:992px) {
    margin-top: 80px;
  }

  .coll {
    &:nth-of-type(1) {
      .header_head {
        h1 {
          color: black;
          font-size: 24px;
          line-height: 36px;
          margin-bottom: 34px;
          text-align: left;
          margin-top: 30px;
          @media all and (min-width:768px) {
            font-size: 47px;
            line-height: 63px;
          }
          @media all and (min-width:992px) {
            line-height: 79px;
            font-size: 55px;
            margin-top: 0;
            text-align: left;
          }
          @media all and (min-width:1200px) {

            line-height: 90px;
            font-size: 62px;
          }
        }
      }

      .header_textContent {
        font-family: Avenir;
        font-size: 14px;
        line-height: 18px;
        padding-right: 10px;
        @media all and (min-width:768px) {
          text-align: left;
          font-size: 15px;
    line-height: 25px;
        }
        @media all and (min-width:992px) {
          padding-right: 0;
          text-align: left;
          font-size: 20px;
          line-height: 32px;
        }
        @media all and (min-width:1200px) {
          font-size: 24px;
          line-height: 36px;
        }
      }

      .header_button {
        margin-top: 26px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        @media all and (min-width:992px) {
          margin-top: 80px;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          display: block;
        }

        button {
          width: 125px;
          height: 38px;
          font-size: 10px;
          font-weight: 900;
          border-radius: 5px;
          @media all and (min-width:768px) {
            width: 156px;
      height: 38px;
      font-size: 14px;
          }
          @media all and (min-width:992px) {
            font-weight: 700;
            border-radius: 10px;
            font-size: 20px;
            width: 227px;
            height: 56px;
          }

          span {
            img {
              width: 5px;
              margin-top: 3px;
              margin-left: -3px;
              @media all and (min-width:992px) {
                width: auto;
                margin-top: auto;
                margin-left: auto;
              }
            }
          }
        }
      }

      .header_btn_text_link {
        font-size: 14px;
        font-family: Avenir;
        margin-top: 10px;
        color: #919191;
          @media all and (min-width:768px) {
            font-size: 14px;
            margin-top: 12px;
          }
        @media all and (min-width:992px) {
          margin-top: 16px;
          font-size: 16px;
          width: auto;
        }
      }
    }

    &:nth-of-type(2) {
      .img {
        text-align: left;
        @media all and (min-width:768px) {
          text-align: center;
        }

        img {
          transform: scale(1.99);
          margin-top: 170px;
          @media all and (min-width:540px){
            transform: scale(2);
          }
          @media all and (min-width:768px) {
            transform: scale(1.5);
    margin-right:0;
          }
          @media all and (min-width:992px) {
            transform: scale(1);
            margin-top: 0px;
                margin-right: -54px;
          }
          @media all and (min-width:1200px) {
            margin-top: -80px;
            margin-right: -100px;
          }
          @media all and (min-width:1200px) {
            margin-top: -80px;
            margin-right: -160px;
          }
        }
      }
    }
  }
}
