#navigation {
  nav {
    padding-top: 58px;
    font-family: Avenir;
    display: flex;
    padding-bottom: 97px;
    display: none;
    @media all and (min-width:992px) {
      display: flex;
      align-items: center;
    }

    ul {
      &:nth-of-type(1) {
        width: 30%;
      }

      &:nth-of-type(2) {
        justify-content: flex-end;
        align-items: center;
        display: flex;
        width: 100%;

        li {
          text-align: right;

          a {
            text-decoration: none;
            font-size: 20px;
            text-transform: uppercase;
            color: black;
          }

          &:nth-of-type(2) {
            margin-left: 62px;

            a {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
/******MOBILE NAVIGATION********/

#mobileNavigation {
  font-family: Avenir;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 131px; /* -- OPEN -- */
  @media all and (min-width: 992px) {
    display: none;
  }

  .u-nav {
    height: 148px;

    img {
      position: absolute;
      // left: 37px;
      left:33px;
      top: 56px;
      width: 27.5px;
      height: 30px;
    }
  }

  .mobileLogo {
    width: 100%;
    text-align: center;

    a {
      img {
        width: 71.76px;
        height: 15.65px;
      }
    }
  }

  .u-nav-container {
    display: block;
    background-color: white;
    position: absolute;
    height: 100%;
    width: 400px;
    top: 0;
    left: -1000px;
    z-index: 1;
    transition: left 0.3s ease-in;
    border-radius: 0 20px 20px 0;
    height: 100vh;
    transition: left 0.3s ease-out;
    width: 90%;
    .closeMobileMenu {
      position: relative;
      height: 76px;

      img {
        position: absolute;
        z-index: 99;
        right: 35px;
        top: 31px;
        width: 19px;
        height: 19px;
      }
    }

    .mobileLogoOpenNav {
      position: relative;
      width: 100%;
      height: 65px;

      a {
        margin-left: 55px;
        width: 100%;
      }

      img {}

      &:after {
        position: absolute;
        width: 80%;
        height: 0.5px;
        background: #B1B1B1;
        content: "";
        top: 65px;
        left: 32px;
      }
    }
    ul{

      margin-top:53.7px;
      li{
            padding-bottom:33px;
      a{
        display: flex;
        align-items: center;
        font-size: 14px;
        .iconNav{
          margin-left:55px;
          margin-right:18px;
width:24px;
height:24px;
        }
      }

      }
      &:nth-of-type(2){
          border-top:solid .5px #B1B1B1;
        left:50%;
    transform: translate(-50%);
        padding-top:25.75px;
        width:80%;
        position: absolute;
      bottom:0;
      li{

    a{
    display: flex;
    align-items: center;
    justify-content: center;
    button{
        width:100%;

      font-family: Avenir;
      font-weight: 900;
      font-size: 16px;
      span{
        img{
          width:7.5px
        }
      }
    }
    }
      }
      }

    }
    li.header_btn_text_link_Mob{
        margin-top: -13px;
      .link_Mob{

display: inline;
      }
    }
  }
  .u-nav-container.is-open {
    position: fixed;
    border-radius: 0 20px 20px 0;
    height: 100%;
    left: 0;
    transition: left 0.3s ease-out;
    width: 90%;

  }
}
