#download_app {
  font-family: Avenir;
  padding-top: 70px;
  @media all and (min-width:992px) {
    padding-top: 200px;
  }

  .header_download {
    text-align: center;

    h2 {
      margin: 0;
      padding: 0;
    }

    p {
      font-size: 24px;
      color: #414040;
      padding: 15px 0 45px;
      display: none;
      @media all and (min-width:992px) {
        padding: 37px 0 45px;
        display: block;
      }

      &:nth-of-type(2) {
        display: block;
        font-size: 14px;
          margin-top:0;
        @media all and (min-width:768px){
          font-size: 15px;
          margin-top:-4px;
        }
        @media all and (min-width:992px) {
          display: none;
        }
      }
    }
  }

  .qrCode {
    .img {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        &:nth-of-type(1) {
          width: 130px;
          height: 130px;
          display: none;
          @media all and (min-width:992px) {
            display: block;
            width: 200px;
            height: 200px;
          }
        }

        &:nth-of-type(2) {
          margin-top: -51px;
          width: 241px;
          height: 125px;
          @media all and (min-width:992px) {
            margin-top: 0;
            width: auto;
            height: auto;
            margin-top: -67px;
          }
        }
      }
    }
  }

  .downloadTxt {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    display: none;
    @media all and (min-width:992px) {
      display: block;
      font-size: 24px;
    }

    a {
      color: #4A83E3;
    }
  }
}
