#world_of_defi {
  padding-top: 32px;
  @media all and (min-width:992px) {
    padding-top: 330px;
  }

  .row {
    justify-content: center;
    align-items: center;
    // flex-direction: column-reverse;
    @media all and (min-width:992px) {
      flex-direction: row;
    }

    .coll {
      &:nth-of-type(1) {
        .img {
          text-align: left;

          img {
            width: 118px;
            margin-bottom:175px;
              @media all and (min-width:768px) {
                width: 168px;
              }
            @media all and (min-width:992px) {
              margin-bottom:0;
              text-align: center;
              width: auto;
              transform: scale(1.3);
            }
            @media all and (min-width:1200px) {
              transform: scale(1);
            }
          }
        }
      }

      &:nth-of-type(2) {
        margin-top: -165px;

        article {
          .header{

          }
          .text-content {
            margin-top: 19px;
            padding: 19.5px 12px 0 17px;
            @media all and (min-width:992px) {
              margin-top: 30px;
              padding: 19.5px 30px 0 27px;
            }
            p {
              padding-right: 10px;
            }

            ul {
              padding-left: 1em;

              li {
                &:before {
                  content: "\2022";
                  color: black;
                  font-weight: bold;
                  display: inline-block;
                  width: 1em;
                  margin-left: -1em;
                }
              }
            }

            .live {
              margin-left: 12px;
              padding-top: 16px;
              padding-bottom: 12px;
              @media all and (min-width:992px) {
                margin-left: 19px;
                    padding-top: 30px;
                transform: scale(1);
              }
            }
          }
        }
      }
    }
  }
}
