#app{
  padding-top:0px;
  margin-top:-13px;
    @media all and (min-width:768px){
        margin-top:-4px;
    }
  @media all and (min-width:992px) {
      margin-top:0px;
  padding-top:330px;
  }
  .row{
    justify-content: center;
    align-items: flex-end;
    flex-direction: column-reverse;
    @media all and (min-width:992px) {
  flex-direction: row;
    }
    .coll{

      &:nth-of-type(1){
        article{
    position: relative;
    top:-36px;
    @media all and (min-width:992px) {
      top:-108px;
    }
          .header{

            h3{
              text-transform: uppercase;
              font-family: Avenir;
              font-weight: 800;
              color:#4A83E3;
              padding-bottom:3px;
              font-size: 18px;
              @media all and (min-width:768px){
                font-size: 27px;
              }
              @media all and (min-width:992px) {
              font-size: 1.75rem;
              padding-bottom:26px;
              }
            }
          }
          .text-content{
            width:100%;
            margin-top:19px;
            padding: 19.5px 25px 23px 18px;
            @media all and (min-width:992px) {
              width:90%;
              padding:19.5px 30px 23px 27px;
            }
            p{
              padding-right:10px;
            }
            ul {
              padding-left:1em;
              li {
                &:before {
                  content: "\2022";
                  color: black;
                  font-weight: bold;
                  display: inline-block;
                  width: 1em;
                  margin-left: -1em;
                }
              }
            }
            .live{
              margin-left:19px;
              padding-top:30px;
              padding-bottom:12px;
            }
          }
        }
      }
      &:nth-of-type(2){
.img{
  text-align: left;
  @media all and (min-width:992px) {
  text-align: center;
  }
  img{
    width:103px;
    height:159px;
    margin-bottom:64px;
    margin-left:-7px;
      @media all and (min-width:768px){
        width:153px;
        height:233px;
      }
    @media all and (min-width:992px) {
      margin-left:0;
    width:auto;
    height:auto;
    margin-bottom:0;
    }
  }
}
      }
    }
  }
}
