#img-coins{
.img{

text-align: center;
margin-left: -27px;
    margin-top: -148px;
    @media all and (min-width:540px){
      margin-top: -121px;
    }
    @media all and (min-width:768px){
      text-align: center;
  margin-left: 99px;
  margin-top: -144px;
    }
@media all and (min-width:992px){
  margin-top: -100px;
margin-left: -151px;
}
@media all and (min-width:1200px){
margin-left: -59px;
}
@media all and (min-width:1380px){
margin-left: -90px;
  margin-top: -93px;
}
img{
  transform: scale(.45);
  @media all and (min-width:992px){
transform: scale(.8);
  }
  @media all and (min-width:1200px){
transform: scale(1);
  }
}
}
}
