#faq {
  font-family: Avenir;
  padding-top: 29px;
  @media all and (min-width:992px) {
    padding-top: 250px;
  }

  .header {
    width: 100%;
    text-align: center;
  }

  .question {
    cursor: pointer;
    font-size: 14px;
    color: black;
    position: relative;
    margin-top: 20px;
    border-bottom: 0.7px solid #B1B1B1;
    @media all and (min-width:768px){
      font-size:16px;
    }
    @media all and (min-width:992px) {
      margin-top: 32px;
      font-size: 24px;
    }

    h4 {
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      padding: 0 0 10px;
      @media all and (min-width:768px){
        font-size: 16px;
      }
      @media all and (min-width:992px) {
        font-size: 1.5rem;
      }
    }

    .shortText {
      color: #B1B1B1;
      margin-bottom: 22px;
      @media all and (min-width:992px) {
        margin-bottom: 29px;
      }
    }

    .answer {
      background-color: transparent;
      display: none;
      border-radius: 10px;

      p {
        color: #B1B1B1;
        margin: 0;
        text-align: justify;
        padding-right: 39px;
        @media all and (min-width:1200px) {
          padding-right: 100px;
        }
        @media all and (min-width:1400px) {
          padding-right: 200px;
        }

        &:nth-of-type(2) {
          padding-bottom: 8px;
          @media all and (min-width:992px) {
            padding-bottom: 34px;
          }
        }
      }

      h4 {
        padding-top: 36px;
        padding-bottom: 10px;
        @media all and (min-width:992px) {
          padding-top: 50px;
        }
      }
    }

    .arrow {
      width: 27px;
      height: 27px;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: -2px;
      right: -16px;
      transition: all 0.4s;
      @media all and (min-width:768px) {
        right: 10px;
        top: 8px;
      }
      @media all and (min-width:1200px) {
        top: 25px;
      }

      img {
        transition: all 0.4s;
        width: 14px;
        height: 14px;
          @media all and (min-width:768px){
            width: 17px;
            height: 17px;
          }
        @media all and (min-width:992px) {
          width: auto;
          height: auto;
          top: 25px;
        }
      }
    }

    .arrow-active {
      transition: all 0.4s;
      transform: rotate(180deg);
    }

    .shortTextNone {
      display: none;
    }
  }
}
