#connect_with_people{
  padding-top:45px;
  @media all and (min-width:992px) {
  padding-top:400px;
  }
  .row{
    justify-content: center;
    align-items: center;
    .coll{
      &:nth-of-type(1){
.img{
  text-align: left;
  @media all and (min-width:992px) {
  text-align: center;
  }
  img{
    width:146px;
    height:150px;
    margin-bottom:143px;
    margin-left:-8px;
      @media all and (min-width:768px) {
        width:196px;
        height:200px;
      }
    @media all and (min-width:992px) {
      margin-bottom:0;
      margin-left:0;
  width:auto;
  height:auto;
    }
  }
}
      }
      &:nth-of-type(2){
        margin-top:-120px;
        margin-bottom:50px;
        @media all and (min-width:992px) {
        margin-bottom:0;
        }
        article{
          .header{
            padding-right:0;
            @media all and (min-width:768px) {
          padding-right:218px;
          }
          @media all and (min-width:992px) {
        padding-right:0;
        }
        }
          .text-content{
            width:100%;
            margin-top:19px;
          padding: 16px 34px 0 24px;
            @media all and (min-width:992px) {
              margin-top:30px;
              padding:16px 29px 0 35px;
            width:98%;
            }
            ul {
              padding-left:1em;
              li {

                &:before {
                  content: "\2022";
                  color: black;
                  font-weight: bold;
                  display: inline-block;
                  width: 1em;
                  margin-left: -1.2em;
                }
&:nth-of-type(2){
padding-right:30px;
  @media all and (min-width:992px) {
padding-right:0;
  }
}
&:nth-of-type(4){
padding-right:84px;
  @media all and (min-width:992px) {
padding-right:0;
  }
}
              }
            }
            .live{
              margin-left:12px;
              padding-top:16px;
              padding-bottom:17px;
              @media all and (min-width:992px) {
                margin-left:19px;
                padding-top:30px;
              }
            }
          }
        }
      }

    }
  }
}
