#world_of_nft {
  padding-top: 31px;
  @media all and (min-width:992px) {
    padding-top: 350px;
  }

  .row {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    @media all and (min-width:992px) {
      flex-direction: row;
    }

    .coll {
      &:nth-of-type(1) {
        margin-top: -70px;

        article {
          .text-content {
            width: 100%;
            margin-top: 19px;
            padding: 16px 25px 0;
            @media all and (min-width:992px) {
              margin-top: 30px;
              padding: 16px 20px 0;
              width: 85%;
            }

            .live {
              margin-left: 0;
              padding-top: 0;
              padding-bottom: 12px;
              @media all and (min-width:992px) {
                padding-top: 30px;
              }
            }
          }
        }
      }

      &:nth-of-type(2) {
        .img {
          text-align: left;
          @media all and (min-width:992px) {
            text-align: center;
          }

          img {
            width: 137px;
            height: 167px;
            margin-bottom: 74px;
              @media all and (min-width:768px) {
              width: 187px;
              height: 211px;
              }
            @media all and (min-width:992px) {
              width: auto;
              height: auto;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
