#world_of_crypto {
  padding: 40px 0 0px;
  @media all and (min-width:992px){
  padding: 385px 0 90px;
  }
  .row {
    justify-content: center;
    align-items: center;
flex-direction: column-reverse;
@media all and (min-width:992px){
flex-direction:row;
}
    .coll {
      &:nth-of-type(1) {
        article {
          width: 100%;
          @media all and (min-width:992px){
          width: 84%;
          }
          .header {
            padding-bottom: 10px;
            @media all and (min-width:992px){
          padding-bottom: 14px;
            }
          }

          .text-content {
            padding: 16px 29px 0 21px;
            @media all and (min-width:992px){
            padding: 16px 19px 0 21px;
            }
            .live {
              padding-top: 7px;
              padding-bottom: 13px;
              @media all and (min-width:992px){
              padding-top: 30px;
              }
            }

          }
        }
      }

      &:nth-of-type(2) {
        .img {
        text-align: left;

          img {
            width:115px;
          margin-left:-10px;
          margin-bottom:14px;
          @media all and (min-width:768px){
              width:165px;
          }
            @media all and (min-width:992px){
              margin-bottom:0;
              margin-top:30px;
              margin-left:0;
              width:auto;
          transform: scale(1.03);
          margin-top:-20px;
            }
          }
        }
      }
    }
  }
}
