#make_it_for_you {
  margin-top: -365px;

  .row {
    align-items: center;

    .img {
      text-align: left;
      margin-top: 145px;
      margin-left: -11px;
      @media all and (min-width:540px){
          margin-top: 55px;
      }
      @media all and (min-width:768px) {
        text-align: center;
    margin-top: 67px;
    margin-left: -166px;
      }
      @media all and (min-width:992px) {
        text-align: left;
        margin-top: 32px;
        margin-left: -26px;
      }
      @media all and (min-width:1200px) {
        margin-top: -232px;
        margin-left: auto;

      }

      img {
        width: 140px;
        @media all and (min-width:540px) {
          width: 204px;
        }
        @media all and (min-width:768px) {
          width: 209px;
        }
        @media all and (min-width:992px) {
          width: 376px;
        }
        @media all and (min-width:1200px) {
          width: auto;
        }
      }
    }

    article {
      .header {
        padding-right: 35px;
        padding-top: 18px;
        @media all and (min-width:768px) {
          padding-right: 143px;
        }
        @media all and (min-width:992px) {
          padding-top:0;
          padding-right: 30px;
        }
        @media all and (min-width:1200px) {
          padding-top: 264px;
          padding-right: 30px;
        }
      }

      h2 {
        padding-right: 0;
        @media all and (min-width:992px) {
          padding-right: 0;
          padding-top: 21px;
        }
        @media all and (min-width:1200px) {
          padding-right: 0;
          padding-top: 264px;
        }
      }

      .text-content {
        padding: 20px 0 11px 30px;
        margin-top: 19px;
        @media all and (min-width:992px) {
      margin-top: 30px;
        }
        ul {
          li {
            &:before {
              content: "\2022";
              color: black;
              font-weight: bold;
              display: inline-block;
              width: 1em;
              margin-left: -1em;
            }
          }
        }

        .live {
          margin-left: 2px;
          padding-top: 25px;
          @media all and (min-width:992px) {
            padding-top: 30px;
          }
        }
      }
    }
  }
}
